---
layout: main
title: Joe Conley
subtitle: Temet nosce
---

<div class="ui grid">
    <div class="ten wide column">
        <div class="ui divided items">
          {% capture date_format %}%b %-d %Y{% endcapture %}
          {% for post in paginator.posts %}
              <div class="item">
                  <div class="content post">
                    <a class="header" href="{{ post.url }}">{{post.title}}</a>
                    <div class="description"><p>{{ post.subtitle }}</p></div>
                    <div class="extra">
                        <time datetime="{{ post.date | html_global_date }}">{{ post.date | date: date_format }}</time>
                        &nbsp;&nbsp;&nbsp;
                        {% for tag in post.tags %}
                        <a href="/tags/{{ tag }}/" class="ui label blue">{{ tag }}</a>
                        {% endfor %}
                    </div>
                  </div>
              </div>
          {% endfor %}
          </div>
          <!-- Pagination links -->
          {% if paginator.total_pages > 1 %}
          <div class="ui pagination menu">
            <a class="item {% if paginator.previous_page %}{% else %}disabled{% endif %}"
               href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
            <a class="item {% if paginator.next_page %}{% else %}disabled{% endif %}"
               href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          </div>
          {% endif %}
    </div>
    <div class="six wide column">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://josephpconley.us18.list-manage.com/subscribe/post?u=22f8d6ce684f380ec49311bf5&amp;id=165889396a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Subscribe to my monthly newsletter</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_22f8d6ce684f380ec49311bf5_165889396a" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->

        <h2>Tags</h2>
        <div id="tags">
          {% for tag in site.tags %}
            <a class="item" href="/tags/{{ tag | first | slugify }}/">
              <span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 100 }}%">{{ tag | first }}</span>
            </a>
          {% endfor %}
        </div>

        <h2>Most Popular Posts</h2>
        <div class="ui relaxed divided list">
            <div class="item"><a href="/2014/04/15/jsonpath-for-play.html">JSONPath Library for Play</a></div>
            <div class="item"><a href="/2014/03/04/building-better-apis-with-play.html">Building better APIs with Play!</a></div>
            <div class="item"><a href="/2014/05/13/datacombinator-query-engine.html">Query JSON/XML/CSV using SQL</a></div>
        </div>

        <a class="twitter-timeline" href="https://twitter.com/josephpconley" data-widget-id="692183110067343360">@josephpconley</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
