body {
    color: #555 !important;
}

h1, h2, h3, h4 {
    padding-top: 1em !important;
}

h1, h2, h3, h4, strong {
    color: #333 !important;
}

a img {
    border: none;
}

.copy img {
    max-width: 700px;
    max-height: 450px;
}

.copy p, li{
    font-size: 20px !important;
    max-width: 60em;
    line-height: 1.75;
}

.copy p {
    margin-bottom: 40px;
    word-spacing: 2px;
}

code, pre {
    background: #eee
}

code {
    padding: 2px 4px;
}

pre {
    padding: 1em;
}

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
}

ul, li{
  margin-top: 10px;
}

li:first-child {
  margin-top:0;
}

.clickableRow:hover{
  cursor: pointer;
}

#twitter-widget-0 {
    max-width: 360px !important;
    width: 360px;
}

.tags a {
    padding-right: 5px;
}

.rotate180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}