a img {
  border: none;
}

.copy{
    font-size: 18px !important;
}

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
}

ul, li{
  margin-top: 10px;
}

li:first-child {
  margin-top:0;
}

/*.post .header {*/
  /*font-size: 1.6em;*/
/*}*/

/*.post .description {*/
  /*font-size: 1.25em;*/
/*}*/

.clickableRow:hover{
  cursor: pointer;
}

#twitter-widget-0 {
    max-width: 360px !important;
    width: 360px;
}