<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45507918-5"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-45507918-5');
        </script>

        <script src="/public/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/public/javascripts/jquery.tinysort.min.js" type="text/javascript"></script>
<!--        <script src="/public/javascripts/semantic.min.js" type="text/javascript"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reading-time/1.0.0/readingTime.min.js" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css"/>
        <link rel="shortcut icon" type="image/png" href="/assets/bender.jpg"/>
        <link href="/public/stylesheets/semantic.readable.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

        <script>
            function compare(a,b) {
              if (a.name < b.name)
                 return -1;
              if (a.name > b.name)
                return 1;
              return 0;
            }

            $("#tags>a").tsort();

            $(".clickableRow").click(function() {
                window.open($(this).attr("href"));
            });

            function callback(data){
                $("#lastUpdated").html(new Date(Date.parse(data.date)).toLocaleDateString());
                $("#lastUpdated").attr("href", data.url);
            }

            function lastUpdated(page){
                $.ajax({
                    url: "http://www.datacombinator.com/api/redis.jsonp?key=" + page,
                    dataType: "jsonp",
                    jsonpCallback: "callback"
                });
            }

        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Joe Conley">
        {% seo %}
    </head>
    <body>
      <div class="ui large sticky secondary borderless top menu blue" style="margin-top: 0px;">
        <a class="header item" href="/">Joe Conley</a>
        <a class="item" href="/now">Now</a>
        <a class="item" href="/joe-os">Joe OS</a>
        <a class="item" href="/principles">Principles</a>
        <a class="item" href="/models">Models</a>
        <a class="item" href="/departing">Departing Words</a>
        <a class="item" href="/projects">Projects</a>
        <a class="item" href="/presentations">Presentations</a>
        <a class="item" href="/lists">Lists</a>
        <a class="item" href="/resume">Resume</a>
        <div class="right menu">
            <div class="item">
                <a href="/feed.xml" target="_blank"><i class="rss icon"></i></a>
                <a href="https://www.twitter.com/josephpconley" target="_blank"><i class="twitter icon"></i></a>
                <a href="https://www.linkedin.com/in/joe-conley-9a32887" target="_blank"><i class="linkedin icon"></i></a>
                <a href="https://app.slack.com/client/T013FS0CNNP/C013U9S5D4P/details" target="_blank"><i class="slack hash icon"></i></a>
                <a href="https://www.github.com/josephpconley" target="_blank"><i class="github icon"></i></a>
                <a href="https://www.goodreads.com/user/show/29497890-joe-conley" target="_blank"><i class="goodreads g icon"></i></a>
                <a href="https://medium.com/@josephpconley" target="_blank"><i class="medium icon"></i></a>
                <a href="http://stackoverflow.com/users/1031290/josephpconley" target="_blank"><i class="stack overflow icon"></i></a>
            </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="ui container">
        {{ content }}
      </div>
    </body>
</html>
