---
layout: main
---
<div class="ui grid">
    {% capture date_format %}%b %-d %Y{% endcapture %}
    <time datetime="{{ page.date | html_global_date }}">{{ page.date | date: date_format }}</time>
    <div class="blog-tags">
      <!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
      <ul class="d-inline list-inline" role="list">
        {% for tag in page.tags %}
        <li class="list-inline-item">
          <a href="/tags/{{tag}}/">{{tag}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="copy">
      <h1>{{ page.title }}</h1>
      <div class="content">
      {{ content }}
      </div>

      <br>
      Share:
      <a href="http://twitter.com/home/?status={{page.title}} by @jpc2_ https://jpc2.org{{page.url}}" target="_blank" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
        <span class="sr-only">Twitter</span>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://jpc2.org{{page.url}}" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
        <span class="sr-only">Facebook</span>
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://jpc2.org{{page.url}}&title={{page.title}}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </div>

    <hr>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'josephpconley'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    $('.content').readingTime();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
