---
layout: main
---

<div class="ui grid">
    <div class="ten wide column">
        <h1>
            {{ page.title }}
            <a href="/tags/{{ page.slug }}/feed.xml" target="_blank"><i class="rss icon"></i></a>
        </h1>
        <div class="ui divided items">
            {% capture date_format %}%b %-d %Y{% endcapture %}
            {% for post in site.tags[page.slug] %}
            <div class="item">
                <div class="content post">
                    <a class="header" href="{{ post.url }}">{{post.title}}</a>
                    <div class="description"><p>{{ post.subtitle }}</p></div>
                    <div class="extra">
                        <time datetime="{{ post.date | html_global_date }}">{{ post.date | date: date_format }}</time>
                        &nbsp;&nbsp;&nbsp;
                        {% for tag in post.tags %}
                        <a href="/tags/{{ tag }}/" class="ui label">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <div class="ui pagination menu">
            <a class="item {% if paginator.previous_page %}{% else %}disabled{% endif %}"
               href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
            <a class="item {% if paginator.next_page %}{% else %}disabled{% endif %}"
               href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </div>
        {% endif %}
    </div>
    <div class="six wide column">
        <h2>Tags</h2>
        <div id="tags">
            {% for tag in site.tags %}
            <a href="/tags/{{ tag | first | slugize }}/">
                <span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 100 }}%">{{ tag | first }}</span>
            </a>
            {% endfor %}
        </div>

        <h2>Most Popular Posts</h2>
        <div class="ui relaxed divided list">
            <div class="item"><a href="/2014/04/15/jsonpath-for-play.html">JSONPath Library for Play</a></div>
            <div class="item"><a href="/2014/03/04/building-better-apis-with-play.html">Building better APIs with Play!</a></div>
            <div class="item"><a href="/2014/05/13/datacombinator-query-engine.html">Query JSON/XML/CSV using SQL</a></div>
        </div>


        <a class="twitter-timeline" href="https://twitter.com/josephpconley" data-widget-id="692183110067343360">@josephpconley</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>