---
layout: main
---

<div class="col-md-offset-2 col-md-8">

    <div class="row">
        {% capture date_format %}%b %-d %Y{% endcapture %}
        <h2>
            {{ page.title }}
            <a href="/tags/{{ page.tag }}/feed.xml" target="_blank"><i class="fa fa-rss-square"></i></a>
        </h2>
        <br>
    </div>

    {% capture date_format %}%b %-d %Y{% endcapture %}
    {% for post in site.posts %}
    {% for tag in post.tags %}
    {% if tag == page.tag %}
    <div class="row">

        <div class="post-preview">
            <a href="{{ post.url }}">
                <h2 class="post-title">{{ post.title }}</h2>
            </a>
            <p class="post-subtitle">{{ post.subtitle }}</p>
            <p class="post-meta">
                Posted on <time datetime="{{ post.date | html_global_date }}">{{ post.date | date: date_format }}</time>
                &nbsp;&nbsp;&nbsp;
                {% for tag in post.tags %}
                <a href="/tags/{{ tag }}/"><span class="label label-default">{{ tag }}</span></a>
                {% endfor %}
            </p>
        </div>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>    